<!DOCTYPE html>
<html>
<head>
    <title>Vista Chofer</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1>Lista de viajes pendientes</h1>
        <div class="table-responsive">
            <table class="table table-striped table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th>Destino</th>
                        <th>Espacio requerido(puertas)</th>
                        <th>Tipo de vehículo</th>
                        <th>Nombre del pasajero</th>
                        <th>Aceptar viaje</th>
                    </tr>
                </thead>
                <tbody >
                    {% for d in viajes %}
                    <tr>
                        <td>{{d.destino}}</td>
                        <td>{{d.cantidad_puertas}}</td>
                        <td>{{d.tipo_vehiculo}}</td>
                        <td>{{d.nombrePasajero}}</td>
                        <td>
                            <button type="submit" class="btn btn-success">Aceptar</button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <!-- Agrega el enlace al archivo JavaScript de Bootstrap (opcional) -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
