<!DOCTYPE html>
<html>
  <head>
    <title>Seleccionar Idioma</title>
    <link rel="stylesheet" href="../static/style.css" />
    <script src="../static/functions.js"></script>
  </head>
  <body>
    <div class="container">
      <h1>Seleccionar Idioma</h1>
      <form method="POST" action="/">
        <label for="language">Selecciona tu idioma:</label>
        <select id="language" name="language">
          <option value="es" class="language-option">Español</option>
          <option value="en" class="language-option">Inglés</option>
          <option value="fr" class="language-option">Francés</option>
        </select>
        <button type="submit">Enviar</button>
      </form>
    </div>
  </body>
</html>
